<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smolify</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

</head>

<body>
    <main class="text-center">
        <div class="centered">
            <h1 class="titletext">smol url: </h1>
            <a class="titletext" href="http://<%= baseurl %><%= hash %>"><%= baseurl %><%= hash %></a>
        </div>
    </main>
</body>
</html>